{% extends "base.html" %}
{% block content %}
<div class="">
  <h3>Login.... Please...</h3>
  <div class="">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="">
      {{ messages[0] }}. Go to <a href="{{url_for('auth.signup')}}">signup page</a>.
    </div>
    {% endif %}
    {% endwith %}
    <form action="/login" method="POST">
      <div class="">
        <div class="">
          <input id="login-email" type="email" name="email" placeholder="Your Email" autofocus="">
        </div>
      </div>
      <div class="">
        <div class="">
          <input id="login-password"type="password" name="password" placeholder="Your Password">
        </div>
      </div>
      <div class="">
        <label for="">
          <input id="remember-me-checkbox" type="checkbox">
          Remember me
        </label>
      </div>
      <button id="submit" name="button">Login</button>
    </form>
  </div>
</div>
{% endblock %}
