{% extends "base.html" %}
{% block content %}
<div class="">
  <h3>Sign Up</h3>
  <div class="">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="">
      {{ messages[0] }}. Go to <a href="{{url_for('auth.login')}}">login page</a>.
    </div>
    {% endif %}
    {% endwith %}
    <form action="/signup" method="POST">
      <div class="">
        <div class="">
          <input id="sign-up-email" type="email" name="email" placeholder="Email" autofocus="">
        </div>
      </div>
      <div class="">
        <div class="">
          <input id="sign-up-username" type="text" name="username" placeholder="Username" autofocus="">
        </div>
      </div>
      <div class="">
        <div class="">
          <input id="sign-up-password" type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="">
        <div class="">
          <input id="sign-up-first-name"type="text" name="firstName" placeholder="First name" autofocus="">
        </div>
      </div>
      <div class="">
        <div class="">
          <input id="sign-up-last-name" type="text" name="lastName" placeholder="Last name" autofocus="">
        </div>
      </div>
      <button id="submit" name="button">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}
