[LOGINDETAILS]
loginPassword: password

[PUSHERDETAILS]
app_id: id
key: key
secret: secret
cluster: cluster
ssl: ssl

[SQLALCHEMY]
secret_key: ABCDEFGHIJKLMNOPQRSTUVWXYZ
sqlalchemy_database_uri: sample_uri
