{% extends "base.html" %}

{% block head %}
{% include "games/chase_the_ace/head/indexHead.html" %}
{% endblock %}

{% block content %}
<div class="">
  <h1>Chase The Ace</h1>
  <h2>{{id}}</h2>
</div>
<div id="gameCanvas"></div>

<script src="{{ url_for('static', filename='js/chase_the_ace/start_page/StartPage.js') }}"></script>
<script src="{{ url_for('static', filename='js/chase_the_ace/start_page/JoinPage.js') }}"></script>
<script src="{{ url_for('static', filename='js/chase_the_ace/start_page/game.js') }}"></script>
{% endblock %}
