.chatContainer
{
    background-color: lightblue;
    height: 600px;
    width: 205px;
    margin: 0px;
    padding: 0px;
}
.chatHeader
{
    height: 10%;
}
.chatHeader > h3
{
    padding: 10px 20px;
    margin: 0px;
}

.chatCentre
{
    height: 80%;
    background-color: lightgreen;
    overflow: auto;
}
.chatBottom
{
    height: 10%;
}
.chatMessage
{
    text-align: left;
    padding: 5px 10px 0px 10px;
}
