.chatContainer
{
    position: fixed;
    bottom:0;
    right:0;
    background-color: lightblue;
    border-radius:5%;
}

.chatHeader>h3
{
    padding: 10px 20px;
    margin: 0px;
}

.chatCentre
{
    height: 150px;
    width: 600px;
    overflow: auto;
    border-style: double;
}

.chatMessage
{
    padding: 5px 10px 0px 10px;
}