{% extends "base.html" %}

{% block head %}
    {% include "games/gamesHead.html" %}
{% endblock %}

{% block content %}
<div class="back-button">
    <a href="{{url_for('chase_the_ace.chase_the_ace_index')}}">Back</a>
</div>
<div class="main-container">
    <div class="game-header">
        <h1>Chase The Ace</h1>
    </div>
    <div id="gameCanvas" class="gameCanvas"></div>
</div>

<script type='text/javascript' src="{{ url_for('static', filename='js/chase_the_ace/game/GamePage.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/chase_the_ace/game/game.js') }}"></script>
{% endblock %}
