{% extends "base.html" %}

{% block head %}
    {% include "games/chase_the_ace/head/indexHead.html" %}
{% endblock %}

{% block content %}
    <div class="">
        <a href="{{url_for('main.play')}}">Back</a>
        <h1>Chase The Ace</h1>
        <h2>{{id}}</h2>
    </div>
    <div id="gameCanvas"></div>

    <script type='text/javascript' src="{{ url_for('static', filename='js/chase_the_ace/game/GamePage.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/chase_the_ace/game/game.js') }}"></script>

    {% block chat %}
    {% include "utils/chat.html" %}
    {% endblock %}
{% endblock %}