{% extends "base.html" %}

{% block head %}
    {% include "games/gamesHead.html" %}
{% endblock %}

{% block content %}
<div class="">
  <a href="{{url_for('main.play')}}">Back</a>
</div>
<div class="game-header">
    <h1>Chase The Ace</h1>
</div>
<div id="gameCanvas"></div>

<script type='text/javascript' src="{{ url_for('static', filename='js/chase_the_ace/StartPage.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/chase_the_ace/HostPage.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/chase_the_ace/JoinPage.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/chase_the_ace/game.js') }}"></script>
{% endblock %}
