<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in-page.css') }}">
<script src="https://js.pusher.com/5.0/pusher.min.js"></script>
<script type="text/javascript">
  var pusher = new Pusher({{pusher_key}}, {
    cluster: 'eu'
  });
  var channel = pusher.subscribe('my-channel');
  channel.bind('my-event', function(data) {
    alert('Received my-event with message: ' + data.message);
  });
</script>
</head>
<body>
  <br>
  <div class="color1">
    <div class="heading">
      <h1>Chase the Ace</h1>
    </div>
<br>
<br>
    <div class="authorisation-box">
      <div class="color2">
        <h3>Log In</h3>
      </div>
      <div class="color3">
        <input type="text" name="" placeholder="Username" value="">
      </div>
      <div class="color4">
        <input type="password" name="" placeholder="Password" value="">
      </div>
    </div>
  </div>
</body>
</html>
