<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/phaser.js') }}"></script>
<script>
    // Initialisation of socket variable into the global scope.
    self.socket = io();
    socket.on('redirect', function (data)
    {
        window.location = data.url;
    });
</script>

<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/gamePage.css') }}">
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/gameInDevelopment.css') }}">